.button {
    width: 120px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 10px;
    border: 1px solid #000;

    &:hover {
        background-color: rgb(143, 143, 255);
        color: #fff;
        border: 1px solid rgb(143, 143, 255);
    }
}
