html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100vh;
    transform: scale(1);
}

ul {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    a {
        text-decoration: none;
        color: #000;

        .active {
            color: blue;
            cursor: default;
        }
    }
}
