.button {
    width: 120px;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 200ms linear;
    margin-top: 10px;

    &:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
    }
}
